@import "https://fonts.googleapis.com/css?family=Allura|Merriweather+Sans:400,700,800";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  background-color: #fff;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Merriweather Sans", sans-serif;
  color: #9e9e9e;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
.gigantic,
.huge,
.large,
.bigger,
.big,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: bold;
}
.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}
.huge,
h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}
.large,
h2 {
  font-size: 42px;
  line-height: 1.14;
}
.bigger,
h3 {
  font-size: 26px;
  line-height: 1.38;
}
.big,
h4 {
  font-size: 22px;
  line-height: 1.38;
}
.small,
small {
  font-size: 10px;
  line-height: 1.2;
}
p {
  margin: 0 0 20px 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}
::-moz-selection {
  background: #fff498;
}
::selection {
  background: #fff498;
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #fff498;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
a {
  display: inline-block;
  color: #2046f2;
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
textarea {
  outline: none;
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.wrapper,
.wrapper--small,
.wrapper--large {
  position: relative;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}
.wrapper--small {
  width: 980px;
}
.wrapper--large {
  width: 1170px;
}
.splashscreen {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  z-index: 100;
  -webkit-transition: opacity 0.4s 0.4s;
  transition: opacity 0.4s 0.4s;
}
.splashscreen--is-hidden {
  opacity: 0;
}
.splashscreen--is-hidden .preloader {
  opacity: 0;
}
.preloader {
  position: relative;
  width: 200px;
  height: 150px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.preloader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 45px;
  bottom: 0;
  border-radius: 50%;
  border: 10px solid #2046f2;
  -webkit-animation: fadeInOut 1.6s linear infinite;
  animation: fadeInOut 1.6s linear infinite;
}
.preloader__text {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 0;
  color: #585858;
  font-size: 32px;
  font-weight: 800;
  background-color: #fff;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 5px 25px;
  color: #2046f2;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid #2046f2;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.button:hover,
.button:active,
.button:focus,
button:hover,
button:active,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus {
  color: #6882f6;
  border-color: #6882f6;
}
.blurb--framed {
  padding: 15px 0;
  background-color: #fafafa;
}
.blurb__heading {
  margin: 0 0 15px 0;
  color: #585858;
  font-size: 58px;
  font-weight: 800;
}
.blurb__copy {
  font-weight: 700;
}
.blurb__copy--tight {
  max-width: 300px;
}
.title {
  margin: 0 0 45px 0;
  color: #585858;
  font-size: 58px;
  font-weight: 800;
  text-align: center;
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translate(-12px, 0px);
    transform: translate(-12px, 0px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-12px, 45px);
    transform: translate(-12px, 45px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-12px, 45px);
    transform: translate(-12px, 45px);
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    -webkit-transform: translate(-12px, 0px);
    transform: translate(-12px, 0px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-12px, 45px);
    transform: translate(-12px, 45px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-12px, 45px);
    transform: translate(-12px, 45px);
    opacity: 0;
  }
}
@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.nav-container{
position: sticky;
  top: 15px;
}

.navbar {
  z-index: 10;
  background: #ffffff;
  box-shadow: 0 0 15px #757575c1;
}   

.navbar-brand{
  color: #6882f6;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.nav-item .active {
  font-weight: 700;
}
.nav-item .active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2046f2;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.nav-item .active:hover::after {
  transform: translateY(3px);
}
.nav-item .nav-link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2046f2;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
.scroll-lock {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.introduction {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.introduction::before {
  content: "مُزَّمِّل";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40vw;
  font-weight: 800;
  opacity: 0.15;
}
.introduction__content {
  color: #9e9e9e;
  font-size: 25px;
  font-weight: 800;
}
.introduction__content-el {
  display: block;
}
.introduction__content-el--name {
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
}
.introduction__content-el--description {
  -webkit-transform: matrix(1.0110731102, 0, 0, 1.0110731102, 0, 0);
  transform: matrix(1.0110731102, 0, 0, 1.0110731102, 0, 0);
  margin: 10px 0;
  color: #fff;
  font-size: 14vw;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 10px 18px 35px rgba(88, 88, 88, 0.23);
}
.introduction__content-el--job {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  text-align: right;
  opacity: 0;
}
.introduction__arrow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-12px, 0px);
  transform: translate(-12px, 0px);
  width: 24px;
  fill: #2046f2;
  -webkit-animation: scrollDown 1.6s infinite;
  animation: scrollDown 1.6s infinite;
}
@media (min-width: 1440px) {
  .introduction::before {
    font-size: 576px;
  }
  .introduction__content-el--description {
    font-size: 13vw;
  }
}
@media (max-height: 540px) {
  .introduction__arrow {
    -webkit-animation: none;
    animation: none;
  }
}
.about {
  position: relative;
  width: 100%;
  height: 625px;
  background-color: #fafafa;
}
.about__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.about__wrapper::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  right: 120px;
  bottom: 45px;
  border-radius: 100px;
  border: 10px solid #2046f2;
}
.about__wrapper::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  right: 120px;
  bottom: 45px;
  border-radius: 100px;
  border-bottom: 10px solid #2046f2;
  z-index: 3;
}
.about__visual {
  position: absolute;
  left: 60px;
  bottom: 0;
  z-index: 2;
  width: 85%;
  filter: drop-shadow(10px 1px 20px #757575c1);
}
.about__content {
  position: relative;
  z-index: 1;
  left: 220px;
}

.about__wrapper .resume-btn{
  position: relative;
  background-color: white;
  top: 85px;
  left: -40px;
  z-index: 5;
  border: 3px solid #2046f2;
  transition: .3s ease-in-out;
}

.about__wrapper .resume-btn:hover{
  border: 3px solid #6882f6;
  background-color: #6882f6;
  color: white;
}
.about__content-signature {
  position: absolute;
  bottom: -175px;
  right: -20px;
  font-size: 30px;
  font-family: "Allura", cursive;
  background: #fafafa;
}
@media (max-width: 991px) {
  .about {
    padding: 60px 0;
  }
  .about__wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .about__wrapper::before {
    right: 0;
    bottom: 0;
  }
  .about__wrapper::after {
    right: 0;
    bottom: 0;
  }
  .about__wrapper .resume-btn{
    background: none;
    top: 85%;
    left: -23%;
  }
  .about__visual {
    bottom: -60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .about__content {
    top: 50%;
    left: 12%;
    text-align: center;
    z-index: 3;
  }
  .about__content-blurb {
    padding: 0 15px;
    background: none;
  }
  .about__content-blurb h2 {
    font-size: 48px;
  }
  .about__content-blurb p {
    margin-bottom: 10px;
  }
  .about__content-signature {
    position: static;
    font-size: 24px;
    background: none;
  }
}
@media (max-width: 767px) {
  .about {
    height: 540px;
  }
  .about__visual {
    width: 120vw;
  }
  .about__content-blurb h2 {
    font-size: 32px;
  }
  .about__wrapper::before{
    border-radius: 50px;
  }
  .about__wrapper::after{
    border-radius: 50px;
  }
  .about__wrapper .resume-btn{
    left: -28%;
  }
  .about__content {
    left: 20%;
  }
}

.skill {
  position: relative;
  padding: 60px 0;
  box-shadow: 0px -15px 12px #757575c1;
  width: 100%;
}
#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
}

.not{
  display: none;
}

.hex::after {
  content: "";
  display: block;
  padding-bottom: 86.602%;
}
.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  background: #f0f0f0;
  outline: 1px solid transparent;
}
.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: transparent;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hex img {
  top: 12%;
  left: -100%;
  right: -100%;
  width: auto;
  height: 75%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

.html img{
  top: 16%;
  left: -100%;
  right: -100%;
  width: auto;
  height: 70%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

.bs img {
  top: 20%;
  left: -100%;
  right: -100%;
  width: auto;
  height: 60%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

.sql img {
  top: 12%;
  left: -95%;
  right: -100%;
  width: auto;
  height: 75%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}
@media (min-width: 1201px) {
  #hexGrid {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .hex {
    width: 25%;
  }
  .hex:nth-child(7n + 5) {
    margin-left: 12.5%;
  }
}

@media (max-width: 1200px) and (min-width: 901px) {
  #hexGrid {
    width: 70%;
    padding-bottom: 5.5%;
  }
  .hex {
    width: 25%;
  }
  .hex:nth-child(7n + 5) {
    margin-left: 12.5%;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  #hexGrid {
    width: 80%;
    padding-bottom: 5%;
  }
  .hex {
    width: 25%;
  }
  .hex:nth-child(7n + 5) {
    margin-left: 12.5%;
  }
}

@media (max-width: 600px) {
  #hexGrid {
    width: 80%;
    padding-bottom: 5%;
  }
  .hex {
    width: 25%;
  }
  .hex:nth-child(7n + 5) {
    margin-left: 12.5%;
  }
}

@media (max-width: 500px) {
  .skill {
    margin-left: 0px;
  }

  .skill__heading {
    font-size: 10vw;
  }

  .skill__wrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}
.wrapper .h4{
    color: #2046f2;
}
.design {
  position: relative;
  width: 100%;
  padding: 180px 0;
  overflow: hidden;
}
.design__visual {
  position: absolute;
  top: 25px;
  left: 35%;
  width: 1036px;
  height: 659px;
  margin: 0;
  background-image: url("img/responsive.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.design3__visual {
  position: absolute;
  top: 0px;
  left: 45%;
  width: 800px;
  height: 659px;
  margin: 0;
  background-image: url("img/backend.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.design5__visual {
  position: absolute;
  top: 0px;
  left: 45%;
  width: 800px;
  height: 659px;
  margin: 0;
  background-image: url("img/design.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.design7__visual {
  position: absolute;
  top: 0px;
  left: 45%;
  width: 800px;
  height: 659px;
  margin: 0;
  background-image: url("img/service.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.design__content h2, .design2__content h2{
    color: #585858;
}
@media (max-width: 991px) {
  .design__content h2 {
    font-size: 35px;
  }
  .design__visual{
    top: 80px;
    left: 20%;
    width: 922px;
    height: 586px;
  }
  .design3__visual{
    top: 80px;
    left: 40%;
    width: 679px;
    height: 439px;
  }
 .design5__visual {
    top: 55px;
    left: 35%;
    width: 600px;
    height: 586px;
  }
 .design7__visual {
    top: 55px;
    left: 40%;
    width: 500px;
    height: 586px;
  }
}
@media (max-width: 767px) {
  .design {
    height: 110vh;
    padding: 60px 0;
  }
  .design__content {
    text-align: center;
  }
  .design__content h2 {
    font-size: 32px;
  }
  .design__content h2 br {
    display: none;
  }
  .design__content p {
    margin: 0 auto 20px auto;
  }
  .design__visual{
   top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    height: 500px;
  }
  .design3__visual{
    top: 38%;
    left: 50%;
    transform: translate(-50%);
    width: 80vw;
    height: 500px;
  }
  .design5__visual {
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    width: 70vw;
    height: 500px;
  }
  .design7__visual {
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    width: 60vw;
    height: 500px;
  }
}
@media (max-width: 500px) {
  .blurb__heading{
    font-size: 10vw;
  }
  .design {
    height: 100vh;
    padding: 60px 0;
  }
  .design__content {
    text-align: center;
  }
  .design__content h2 {
    font-size: 32px;
  }
  .design__content h2 br {
    display: none;
  }
  .design__content p {
    margin: 0 auto 20px auto;
  }
  .design__visual{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 120vw;
    height: 439px;
  }
  .design3__visual{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    height: 439px;
  }
  .design5__visual {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    height: 439px;
  }
  .design7__visual {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 65vw;
    height: 439px;
  }
}
.design2 {
  position: relative;
  width: 100%;
  padding: 200px 0;
  background-color: #fafafa;
  overflow: hidden;
}
.design2__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.design2__visual {
  position: absolute;
  top: 52%;
  right: 40%;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
  width: 828px;
  height: 581px;
  margin: 0;
  background-image: url("img/dynamic.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.design4__visual {
  position: absolute;
  top: 45%;
  right: 52%;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
  width: 650px;
  height: 650px;
  margin: 0;
  background-image: url("img/wordpress.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.design6__visual {
  position: absolute;
  top: 50%;
  right: 52%;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
  width: 650px;
  height: 650px;
  margin: 0;
  background-image: url("img/security.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .design2__content h2 {
    font-size: 35px;
  }
  .design2__visual {
    top: 50%;
    right: 40%;
    width: 600px;
    height: 520px;
  }
  .design4__visual {
    top: 40%;
    right: 50%;
    width: 450px;
    height: 520px;
  }
  .design6__visual {
    top: 40%;
    right: 55%;
    width: 450px;
    height: 520px;
  }
}
@media (max-width: 767px) {
  .design2 {
    height: 110vh;
    padding: 60px 0;
  }
  .design2__wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .design2__content {
    text-align: center;
  }
  .design2__content h2 {
    font-size: 32px;
  }
  .design2__content h2 br {
    display: none;
  }
  .design2__content p {
    margin: 0 auto 20px auto;
  }
  .design2__visual {
   top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 80vw;
    height: 500px;
  }
  .design4__visual {
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 50vw;
    height: 500px;
  }
  .design6__visual {
    top: 38%;
    left: 50%;
    transform: translate(-50%);
    width: 60vw;
    height: 500px;
  }
}
@media (max-width: 500px) {
  .design2 {
    height: 100vh;
    padding: 60px 0;
  }
  .design2__wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .design2__content {
    text-align: center;
  }
  .design2__content h2 {
    font-size: 32px;
  }
  .design2__content h2 br {
    display: none;
  }
  .design2__content p {
    margin: 0 auto 20px auto;
  }
  .design2__visual {
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 110vw;
    height: 439px;
  }
  .design4__visual {
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    width: 60vw;
    height: 439px;
  }
  .design6__visual {
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    width: 70vw;
    height: 439px;
  }
}
.contact {
  position: relative;
  padding: 60px 0;
  background-color: #fafafa;
}
.contact__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px 0;
}
.contact__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 75px;
  right: 75px;
  bottom: 0;
  border: 10px solid #2046f2;
  border-radius: 75px;
}
.contact__visual {
  position: relative;
  width: 47.5%;
  box-shadow: 5px 8px 30px 1px rgba(0, 0, 0, 0.21);
  z-index: 2;
}
.contact__visual img {
  display: block;
  width: 100%;
}
.contact__form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 47.5%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0;
  background-color: #fafafa;
  z-index: 3;
}

.contact__form input, .contact__form textarea{
  border-radius: 25px;
}
.contact__form-el {
  padding: 0 0 0 15px;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
}
.contact__form-el--name,
.contact__form-el--email {
  width: 45%;
  height: 50px;
}
.contact__form-el--message {
  width: 100%;
  height: 150px;
  margin: 20px 0 30px 0;
  padding-top: 15px;
  resize: none;
}
.contact__form input[type="submit"] {
  margin-left: auto;
  padding: 10px 50px;
}
@media (max-width: 991px) {
  .contact__heading {
    font-size: 48px;
  }
  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }
  .contact__wrapper::before {
    top: 45px;
    left: 0;
    right: 0;
    bottom: 45px;
  }
  .contact__visual {
    width: 600px;
    max-width: 75%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .contact__form {
    width: 600px;
    max-width: 75%;
    margin-bottom: 45px;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .contact__heading {
    font-size: 32px;
  }
  .contact__wrapper::before{
    border-radius: 50px;
  }
  .contact__form-el--name,
  .contact__form-el--email {
    width: 100%;
  }
  .contact__form-el--name {
    margin-bottom: 10px;
  }
  .contact__form-el--message {
    margin: 10px 0 20px 0;
  }
}
@media (max-width: 480px) {
  .contact__wrapper::before {
    display: none;
  }
  .contact__visual {
    max-width: 100%;
  }
  .contact__form {
    max-width: 100%;
    padding: 0;
  }
  .contact__form-el--name,
  .contact__form-el--email {
    height: 40px;
  }
  .contact__form-el--message {
    height: 90px;
  }
}
.footer {
  position: relative;
  width: 100%;
  height: 100px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #6882f6;
  font-size: 34px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer__arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer__arrow-el {
  width: 24px;
  fill: #2046f2;
}
@media (max-width: 767px) {
  .footer {
    height: 150px;
    padding: 30px 0;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__copyright {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  
  .footer__logo {
    position: static;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}
